TglButton BITMAP "img\\TglButton.bmp"
TglCheckBox BITMAP "img\\TglCheckBox.bmp"
TglConnect BITMAP "img\\TglConnect.bmp"
TglCurrency BITMAP "img\\TglCurrency.bmp"
TglHandle BITMAP "img\\TglHandle.bmp"
TglImageCropper BITMAP "img\\TglImageCropper.bmp"
TglRegistry BITMAP "img\\TglRegistry.bmp"
TglSuicide BITMAP "img\\TglSuicide.bmp"
TglViewStateSet BITMAP "img\\TglViewStateSet.bmp"
TglSQL BITMAP "img\\TglSQL.bmp"
